POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_db
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:postgres@0.0.0.0:5432/fastapi_db
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@0.0.0.0:5432/fastapi_db

RESET_PASSWORD_TOKEN_SECRET=ac8243dee53d6ed451ad8cd2b66cdfe47143942de4cd991e4c3d81114664ac16
VERIFICATION_TOKEN_SECRET=a56f3c9af2b3036a83c8dbfe6dc76ac12ab90079dbe7ad4ad657ac8046d269ae

MAIL_USERNAME="example@example.com"
MAIL_PASSWORD="<MAIL_PASSWORD>"
MAIL_FROM="example@example.com"

# Server Settings
SECRET_KEY=6ea3b37d42a17ae633b40f6ea2900b5abe6e0b76df4a1da0fdb3a9456ebeef25
HOST=0.0.0.0
PORT=8000

# Celery Settings
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND_URL=redis://localhost:6379/1
CELERY_ALWAYS_EAGER=False

GRAFANA_LOKI_URL=https://logs.grafana.net/loki/api/v1/push
GRAFANA_API_USERNAME=<GRAFANA_API_USERNAME>
GRAFANA_API_PASSWORD=<GRAFANA_API_PASSWORD>

PYTHONPATH=/app/src
ENVIRONMENT=local
DEBUG=True
LOG_LEVEL=INFO
